<div class="container">
  {{!-- Page Header --}}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Source List

                </h1>
        </div>
    </div>


    <div class="row">
      {{!--left column for source list--}}
        <div class="col-sm-6 col-md-8 well">
            <div class="row">
                {{#each sourceList.sources}}
                    <div class="col-md-6 sources-container">
                        <h3>
                            <a href="/news/{{this.id}}/{{this.sortBysAvailable.[0]}}">{{this.name}}</a>
                        </h3>
                        <p>{{this.description}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
        {{!--right side bar --}}
        <div class="col-sm-6 col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <div class="well text-center">
                        {{#if logged_in}}
                            <h3>Welcome <br> {{email}}</h3>
                            <hr>
                            <a href="/articles/" class="btn btn-primary ">To My Dashboard</a>
                            <a href="/users/sign-out" class="btn btn-warning"> Sign Out </a>
                        {{/if}}
                        {{#unless logged_in}}
                            {{> loginForm}}
                        {{/unless}}
                    </div>
                </div>
                <div class="col-md-12">
                  {{!-- Search Grid Partial --}}
                    {{> searchGrid }}
                </div>
            </div>
        </div>

    </div>
</div>
